#container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 700px;
    display: grid;
    gap: 30px;
    grid-auto-columns: 250px;
    grid-template-columns: repeat(2, 1fr);
}

.item{
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;

}

.item1{
    background-color: aqua;
}

.item2{
    background-color: red;
}

.item3{
    background-color: burlywood;
}

.item4{
    background-color: greenyellow;
}

.item5{
    background-color: aquamarine;
}

.item6{
    background-color: orange;
}

a{
    text-decoration: none;
}